<nav class="bg-blue-500 p-4 dark:bg-gray-800 min-h-[50px]"> 
    <ul class="flex space-x-4 items-center text-white dark:text-sky-300 max-[500px]:hidden">
      <li><img src="./assets/favicon.jpg" alt="" class="h-8"></li>
      <li><a routerLink="/" class="hover:text-blue-200 ease-in duration-300">Главная</a></li>
      <li><a routerLink="/cart" class="hover:text-blue-200 ease-in duration-300">Корзина</a></li>
      <li><a routerLink="/admin" class="hover:text-blue-200 ease-in duration-300">Администратор</a></li>
    </ul>
  </nav>
